# 1. このファイルをコピーする。
# 2. コピーしたファイルの名前を"docker-compose.yml"に変更する。
# 3. 名前を変更したファイルを開き、パスワードを変更する。
version: '3'
services:
  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    volumes:
      - ./mysql/volumes:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: 

  server:
    build: .
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    volumes:
      - .:/myapp
    ports:
      - "3005:3000"
    environment:
      MYSQL_ROOT_PASSWORD: 
    depends_on:
      - db
