<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="navbar bg-light">
        <%= link_to "pageA", "#", class: "nav-link active" %>
        <%= link_to "pageB", "#", class: "nav-link" %>
        <%= link_to "pageC", "#", class: "nav-link disabled" %>
      
      </nav>
    </div>
  </div>
</div>
